.floating {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}

.scrolled {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
	transform: translateY(-100%) scale(1, 0);
	transition: .5s;
	opacity: 0;
}

.scrolled * {
	border-radius: 0;
}

.visible {
	transform: translateY(0);
	opacity: 1;
	transition: opacity 0 0;
}



@media (max-width: 800px) {
	.floating {
		position: absolute;
		top: 0;
		left: 0;
		width: 10px;
		height: 20px;
	}
}