.root {
	position: absolute;
	width: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.3;
	user-select: none;
	pointer-events: none;
}

@media (max-width: 768px) {
	.root {
		display: none;
	}
}