.root {
	display: grid;

	gap: 1rem;
	align-items: center;
	> * {
		flex: 1;
	}
}

.label {
	font-size: 1.5rem;
	text-align: start;
}

.textarea {
	font-size: 1rem;
	padding: 1rem;
	resize: vertical;
	max-height: 150px;
	min-height: 50px;
	height: fit-content;
	background-color: #424549;
	border: 0;
}

.animate {
	animation: animate 0.3s ease-in-out;
}

@keyframes animate {
	from {
		opacity: 0;
		transform: translate3d(0, -10px, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
