.root {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	align-items: center;
	> * {
		flex: 1;
	}
}

.label {
	font-size: 1.5rem;
}

.textarea {
	font-size: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	resize: vertical;
	max-height: 150px;
	min-height: 50px;
	height: fit-content;
	background-color: #424549;
	border: 0;
}
