.root {
	display: grid;

	gap: 1rem;
	align-items: center;

	>* {
		flex: 1;
	}
}

.label {
	font-size: 1.5rem;
	text-align: start;
}

.textarea {
	font-size: 1rem;
	padding: 1rem;
	resize: vertical;
	max-height: 150px;
	height: fit-content;
	background-color: transparent;
	border: 1px solid rgb(150, 150, 150);
	color: white;
	border-radius: 1rem;

	&::placeholder {
		color: rgba(255, 255, 255, 0.398);
	}
}

.animate {
	animation: animate 0.3s ease-in-out;
}

@keyframes animate {
	from {
		opacity: 0;
		transform: translate3d(0, -10px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}