.root {
	background-color: #2c2f33d7;
	padding: 2rem;
	display: flex;
	gap: 2rem;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;

	position: relative;

	max-height: 60vh;
	overflow-y: auto;
	transition: 0.1s;
}

.rootScrolled {
	padding-top: 0;
}
