.root {
	background-color: #2c2f33d7;
	padding: 2rem;
	display: flex;
	gap: 2rem;
	flex-direction: column;

	position: relative;

	max-height: 60vh;
	overflow-y: auto;
	transition: 0.1s;
}

.rootScrolled {
	padding-top: 0;
}

@media (max-width: 768px) {
	.root {
		box-shadow: none;
		max-height: none;
	}
}
