.root {
	background-color: #2c2f33b3;
	padding: 2rem;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;

	position: relative;
	backdrop-filter: blur(10px);
}

.right {
	position: relative;
}

.output {
	padding: 1rem;
	text-align: left;
	color: white;
	background-color: #424549;
	border-radius: 1rem;
	.markdown {
		p {
			margin: 0;
			margin-bottom: 1.2rem;
		}
		strong {
			display: block;
			font-size: 1.2rem;
		}
	}

	overflow-x: auto;
	animation: outputReveal 2s ease-in-out;
}

.empty {
	opacity: 0.8;
	text-align: center;
}

@keyframes outputReveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
