.controls {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	button {
		flex: 1;
	}
	padding-bottom: 2rem;
}

.button {
	transition: background-color 0.1s ease-in-out;
}

.error {
	background-color: red;
	animation: error 0.3s ease-in-out;
}

.success {
	background-color: #3db552;
	animation: success 0.3s ease-in-out;
}

@keyframes error {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(2px);
	}
	50% {
		transform: translateX(-2px);
	}
	75% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes success {
	0% {
		scale: 1;
	}
	10% {
		scale: 0.95;
		filter: brightness(1.2);
	}
	60% {
		filter: brightness(1.2);
	}
	100% {
		scale: 1;
		filter: brightness(1);
	}
}
