.right {
	position: relative;

}

.button {
	padding: 1rem;
	text-align: start;
	background-color: transparent;
	width: 100%;

	&:focus {
		outline: none;
	}
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.output-title {
	margin-bottom: .5rem;
}

.output {
	text-align: left;
	color: white;
	background-color: var(--elevated-bg-color);
	border-radius: 1rem;
	box-shadow: var(--box-shadow-main);
	position: sticky;
	top: 60px;

	.markdown {
		p {
			margin: 0;
			margin-bottom: 1.2rem;
		}

		strong {
			display: block;
			font-size: 1.2rem;
		}
	}

	overflow-x: auto;
	animation: outputReveal 2s ease-in-out;
}

.empty {
	opacity: 0.8;
	text-align: center;
}

@keyframes outputReveal {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}