.right {
	position: relative;

}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.output-title {
	margin-bottom: .5rem;
}

.output {
	padding: 1rem;
	text-align: left;
	color: white;
	background-color: #424549;
	border-radius: 1rem;
	box-shadow: var(--box-shadow-main);

	.markdown {
		p {
			margin: 0;
			margin-bottom: 1.2rem;
		}

		strong {
			display: block;
			font-size: 1.2rem;
		}
	}

	overflow-x: auto;
	animation: outputReveal 2s ease-in-out;
}

.empty {
	opacity: 0.8;
	text-align: center;
}

@keyframes outputReveal {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}