#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	width: 100%;

	text-align: center;
}

.card {
	padding: 2em;
}

.promo-message {
	margin-bottom: 1.5rem;
	margin-top: .5rem;
	font-style: italic;
	opacity: 0.7;
}

@media (max-width: 768px) {
	.title {
		font-size: 1.7rem;
		text-align: center;
		margin: 0;
	}

	#root {
		margin: 0 auto;
		padding: 2rem 0.9rem;
	}
}